@model MvcInterface.Models.Models.EditMaterialViewModel

@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Материал</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Номер
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Название
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Тип
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        @if (Model.Type != "Book")
        {
            <dt class = "col-sm-2">
                URI
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.URI)
            </dd>
        }
        @if (Model.Type == "Article")
        {
            <dt class = "col-sm-2">
                Дата публикации
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PublicationDate)
            </dd>
        }
        @if (Model.Type == "Book")
        {
            <dt class = "col-sm-2">
                Автор
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class = "col-sm-2">
                Кол-во страниц
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Pages)
            </dd>
        }
        @if (Model.Type == "Video")
        {
            <dt class = "col-sm-2">
                Продолжительность (с)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Duration)
            </dd>
            <dt class = "col-sm-2">
                Качество
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Quality)
            </dd>
        }
        <a asp-controller="Account" asp-action="PassMaterial" asp-route-materialId="@Model.Id">
            <button class="btn btn-info btn-lg" @(Model.IsAccountPassed ? "disabled" : "")>
                @(Model.IsAccountPassed ? "Пройдено" : "Пройти")
            </button>
        </a>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-materialId="@Model.Id">Изменить</a> |
    <a asp-action="ShowPage">Показать все</a>
</div>
