@model EducationProject.BLL.DTO.FullAccountInfoDTO
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-auto mx-auto shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-6">
            <div class="row ml-3">
                <div class="col-4">
                    <div class="row text-center">
                        <img src="https://s3.nat-geo.ru/images/2019/4/10/d9504d38f80249369a1923f21330f5ab.max-1200x800.jpg"
                             width="150" height="150" class="rounded" />
                    </div>
                    <div class="row my-3 text-center">
                        <a class="btn btn-danger" asp-action="Edit">
                            Изменить
                        </a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row text-left">
                        <h4>
                            Имя: @Model.FirstName
                        </h4>
                    </div>
                    <div class="row">
                        <h4>
                            Фамилия: @Model.SecondName
                        </h4>
                    </div>
                    <div class="row">
                        <h4>
                            Телефон: @Model.PhoneNumber
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <h2>
                    Мои скиллы
                </h2>
            </div>
            <table class="table mt-1">
                <thead class="table-dark">
                <th>
                    #
                </th>
                <th>
                    Название
                </th>
                <th>
                    Уровень
                </th>
                <th>
                    Текущий прогресс
                </th>
                <th>
                </th>
                </thead>
                @foreach (var skill in Model.Skills.Entities)
                {
                    <tr>
                        <td>
                            @skill.SkillId
                        </td>
                        <td>
                            @skill.Title
                        </td>
                        <td>
                            @skill.Level
                        </td>
                        <td class="align-content-center">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @(skill.CurrentResult * 100 / skill.MaxValue)%"
                                     aria-valuenow="@(skill.CurrentResult * 100 / skill.MaxValue)" aria-valuemin="0" aria-valuemax="100">
                                    @(skill.CurrentResult * 100 / skill.MaxValue)%
                                </div>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Skill" asp-action="Show" asp-route-skillId="@skill.SkillId">
                                Подробнее
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.Skills.CanMoveBack ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-skillPageNumber="@(Model.Skills.CurrentPage-1)"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-coursePageNumber="@Model.Courses.CurrentPage"
                           asp-route-coursePageSize="@Model.Courses.CurrentPageSize"
                           class="page-link">
                            Предыдущая
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="Show"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-coursePageNumber="@Model.Courses.CurrentPage"
                           asp-route-coursePageSize="@Model.Courses.CurrentPageSize" class="page-link">
                            @(Model.Skills.CurrentPage + 1)
                        </a>
                    </li>
                    <li class="page-item @(Model.Skills.CanMoveForward ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-skillPageNumber="@(Model.Skills.CurrentPage+1)"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-coursePageNumber="@Model.Courses.CurrentPage"
                           asp-route-coursePageSize="@Model.Courses.CurrentPageSize" class="page-link">
                            Следующая
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <h2>
                    Мои курсы
                </h2>
            </div>
            <table class="table mt-1">
                <thead class="table-dark">
                <th>
                    #
                </th>
                <th>
                    Название
                </th>
                <th>
                    Статус
                </th>
                <th>
                </th>
                </thead>
                @foreach (var course in Model.Courses.Entities)
                {
                    <tr>
                        <td>
                            @course.CourseId
                        </td>
                        <td>
                            @course.Title
                        </td>
                        <td>
                            @(course.Status == EducationProject.Core.Models.Enums.ProgressStatus.InProgress ? "В процессе" : "Пройден")
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Course" asp-action="Show"
                               asp-route-courseId="@course.CourseId">
                                Посмотреть
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.Courses.CanMoveBack ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-coursePageNumber="@(Model.Courses.CurrentPage - 1)"
                           asp-route-coursePageSize="@Model.Courses.CurrentPageSize"
                           class="page-link">
                            Предыдущая
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="Show"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-coursePageNumber="@Model.Courses.CurrentPage"
                           asp-route-coursePageSize="@Model.Courses.CurrentPageSize" class="page-link">
                            @(Model.Skills.CurrentPage + 1)
                        </a>
                    </li>
                    <li class="page-item @(Model.Courses.CanMoveForward ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-coursePageNumber="@(Model.Courses.CurrentPage + 1)"
                           asp-route-coursePageSize="@Model.Courses.CurrentPageSize" class="page-link">
                            Следующая
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

