@model EducationProject.BLL.DTO.FullCourseInfoDTO
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-auto mx-auto shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col-8">
            <div class="row d-flex justify-content-between">
                <div class="col-9 text-center">
                    <h2>
                        @Model.Title
                    </h2>
                </div>
                <div class="col-3">
                    @if (Model.CanBeChanged)
                    {
                        <a class="btn btn-danger" asp-controller="Course" asp-action="Edit" asp-route-courseId="@Model.Id">
                            Изменить
                        </a>
                        @if (Model.CanBePublished)
                        {
                            <a class="btn btn-dark" asp-action="Publish" asp-route-courseId="@Model.Id">
                                Опубликовать
                            </a>
                        }
                    }
                </div>
            </div>
            <div class="row my-1">
                <h4>
                    Описание: @Model.Description
                </h4>
            </div>
            <div class="text-center my-1">
                <h3>
                    Материалы курса
                </h3>
            </div>
            @if (Model.CanBeChanged)
            {
                <div class="text-center my-1">
                    <a class="btn btn-light" asp-controller="Material" asp-action="AddToCourse" asp-route-courseId="@Model.Id">
                        Добавить новый материал
                    </a>
                </div>
            }
            <table class="table mt-1">
                <thead class="thead-dark">
                <th>
                    #
                </th>
                <th>
                    Название
                </th>
                <th>
                </th>
                @if (Model.CanBeChanged)
                {
                    <th>
                    </th>
                }
                </thead>
                @foreach (var material in Model.Materials.Entities)
                {
                    <tr @(material.IsAccountPassed ? "class=bg-success" : "")>
                        <td>
                            @material.MaterialId
                        </td>
                        <td>
                            @material.MaterialTitle
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Material" asp-action="Show" asp-route-materialId="@material.MaterialId">
                                Посмотреть
                            </a>
                        </td>
                        @if (Model.CanBeChanged)
                        {
                            <td>
                                <a class="btn btn-danger" asp-controller="Course" asp-action="RemoveMaterial"
                                   asp-route-materialId="@material.MaterialId" asp-route-courseId="@Model.Id">
                                    Удалить
                                </a>
                            </td>
                        }
                    </tr>
                }
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.Materials.CanMoveBack ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-courseId="@Model.Id"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-materialPageNumber="@(Model.Materials.CurrentPage-1)"
                           asp-route-materialPageSize="@Model.Materials.CurrentPageSize"
                           class="page-link">
                            Предыдущая
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="Show"
                           asp-route-courseId="@Model.Id"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-materialPageNumber="@Model.Materials.CurrentPage"
                           asp-route-materialPageSize="@Model.Materials.CurrentPageSize" class="page-link">
                            @(Model.Materials.CurrentPage + 1)
                        </a>
                    </li>
                    <li class="page-item @(Model.Materials.CanMoveForward ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-courseId="@Model.Id"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-materialPageNumber="@(Model.Materials.CurrentPage+1)"
                           asp-route-materialPageSize="@Model.Materials.CurrentPageSize" class="page-link">
                            Следующая
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-4">
            @if (!Model.IsVisible)
            {
                <div class="text-center">
                    Не опубликован
                </div>
            }

            <div class="text-center">
                <img src="https://st2.depositphotos.com/3489481/5208/i/600/depositphotos_52086275-stock-photo-book-of-life.jpg"
                     width="250" height="250" class="rounded"/>
            </div>
            <div class="text-center mt-1">
                @if (Model.CurrentStatus == "None")
                {
                    <a class="btn btn-success" asp-action="AddCourse" asp-controller="Account"
                       asp-route-courseId="@Model.Id">
                        Начать прохождение
                    </a>
                }
                else
                {
                    <a asp-action="PassCourse" asp-controller="Account" asp-route-courseId="@Model.Id">
                        <button class="btn btn-lg btn-primary" @(Model.CanBePassed == true ? "" : "disabled")>
                            @(Model.CanBePassed ? "Пройти" : Model.CurrentStatus == "Passed" ? "Пройдено" : "Невозможно завершить")
                        </button>
                    </a>
                }
            </div>
            @if (Model.CanBeChanged)
            {
                <div class="text-center my-1">
                    <a class="btn btn-light" asp-controller="Skill" asp-action="AddToCourse" asp-route-courseId="@Model.Id">
                        Добавить новый скилл
                    </a>
                </div>
            }
            <table class="table mt-1 table-sm">
                <thead class="thead-dark">
                <th>
                    #
                </th>
                <th>
                    Название
                </th>
                <th>
                    Изменение
                </th>
                <th>
                </th>
                @if (Model.CanBeChanged)
                {
                    <th>
                    </th>
                    <th>
                    </th>
                }
                </thread>
                @foreach (var skill in Model.Skills.Entities)
                {
                    <tr>
                        <td>
                            @skill.SkillId
                        </td>
                        <td>
                            @skill.SkillTitle
                        </td>
                        <td>
                            @skill.SkillChange
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Skill" asp-action="Show" asp-route-skillId="@skill.SkillId">
                                П
                            </a>
                        </td>
                        @if (Model.CanBeChanged)
                        {
                            <td>
                                <a class="btn btn-success" asp-controller="Course"
                                   asp-action="ChangeSkill" asp-route-courseId="@Model.Id"
                                   asp-route-skillId="@skill.SkillId">
                                    И
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-controller="Course"
                                   asp-action="RemoveSkill" asp-route-courseId="@Model.Id"
                                   asp-route-skillId="@skill.SkillId">
                                    У
                                </a>
                            </td>
                        }
                    </tr>
                }
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @(Model.Skills.CanMoveBack ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-courseId="@Model.Id"
                           asp-route-skillPageNumber="@(Model.Skills.CurrentPage-1)"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-materialPageNumber="@(Model.Materials.CurrentPage)"
                           asp-route-materialPageSize="@Model.Materials.CurrentPageSize"
                           class="page-link">
                            Предыдущая
                        </a>
                    </li>
                    <li class="page-item">
                        <a asp-action="Show"
                           asp-route-courseId="@Model.Id"
                           asp-route-skillPageNumber="@Model.Skills.CurrentPage"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-materialPageNumber="@Model.Materials.CurrentPage"
                           asp-route-materialPageSize="@Model.Materials.CurrentPageSize" class="page-link">
                            @(Model.Skills.CurrentPage + 1)
                        </a>
                    </li>
                    <li class="page-item @(Model.Skills.CanMoveForward ? "" : "disabled")">
                        <a asp-action="Show"
                           asp-route-courseId="@Model.Id"
                           asp-route-skillPageNumber="@(Model.Skills.CurrentPage+1)"
                           asp-route-skillPageSize="@Model.Skills.CurrentPageSize"
                           asp-route-materialPageNumber="@(Model.Materials.CurrentPage)"
                           asp-route-materialPageSize="@Model.Materials.CurrentPageSize" class="page-link">
                            Следующая
                        </a>
                    </li>
                </ul>
            </nav>
            @if (Model.CanBeChanged)
            {
                <div class="row justify-content-center">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-courseId="@Model.Id">
                        Удалить курс
                    </a>
                </div>
            }
        </div>
    </div>
</div>